<div class="book-appointment-fab">
  <div class="item sacar_turno">
    <a href="http://paciente.sigemed.com.ar/portal/Cot" target="_blank" rel="noopener">
      <div class="fab-content">
        <img src="assets/images/sacar_turno.png" alt="Sacar Turno" class="fab-icon" />
        <span class="fab-text">Sacar Turno Online</span>
      </div>
    </a>
  </div>
</div>
<div class="book-appointment-fab whatsapp">
  <div class="item">
    <a
      href="http://wa.me/5492914079520"
      target="_blank"
      rel="noopener"
      title="Solicitar turno por WhatsApp"
    >
      <div class="fab-content">
        <img src="assets/images/social/whatsapp.png" alt="WhatsApp" class="social-icon" />
        <span class="fab-text">WhatsApp</span>
      </div>
    </a>
  </div>
</div>
