@media (max-width: 1024px) {
  .turnos-container {
    .info-item {
      background: transparent;
      border: none;
      box-shadow: none;
      .mat-mdc-card-content {
        flex-direction: column !important;
        width: calc(100vw - 32px);
        max-width: calc(100vw - 32px);
        margin: 0 auto;
        align-items: stretch;
        .contenido,
        .accion {
          width: 100% !important;
          max-width: 100%;
          padding: 16px 0;
        }
        .accion {
          justify-content: flex-start;
          margin-bottom: 16px;
        }
      }
    }
  }
}
.turnos-container .info-item .mat-mdc-card-content {
  background-color: var(--base-color);
  color: white;
  display: flex;
  border-radius: 6px;
  .contenido {
    display: flex;
    width: 70%;
    flex-direction: column;
    padding: 20px;
    .title {
      font-size: 1.8rem;
    }
    .descripcion {
      margin-top: 16px;
    }
    ul {
      margin-left: 16px;
      margin-top: 8px;
      padding: 0; /* removes default left padding */
    }
  }
  .accion {
    display: flex;
    width: 29%;
    align-items: center;
    justify-content: center;
    .mat-mdc-raised-button:not(:disabled) {
      font-size: 1.6rem;
      border-radius: 6px;
      height: 60px;
    }
  }
}
