<footer class="footer-container">
  <div class="footer-content">
    <div class="footer-section">
      <div class="info-section">
        <div class="section">
          <div class="title">Contacto</div>
          <div class="content">
            <div class="item">
              <div class="content-title">Dirección</div>
              <div class="content-info">Terrada 1534, Bahía Blanca</div>
            </div>
            <div class="item">
              <div class="content-title">Teléfono</div>
              <div class="content-info">2914079520</div>
            </div>
            <div class="item">
              <div class="content-title">Horario de atención</div>
              <div class="content-info">Lunes a Viernes de 09:00 a 19:00 hs</div>
            </div>
            <div class="item media">
              <div class="social-media-section">
                <div class="social-icons">
                  <a
                    href="http://wa.me/5492914079520"
                    target="_blank"
                    rel="noopener"
                    title="Solicitar turno por Whatsapp"
                  >
                    <img
                      src="assets/images/social/whatsapp.png"
                      alt="Whatsapp"
                      class="social-icon"
                    />
                  </a>
                  <a
                    href="http://facebook.com/cotbahia"
                    target="_blank"
                    rel="noopener"
                    title="Facebook"
                  >
                    <img
                      src="assets/images/social/facebook.png"
                      alt="Facebook"
                      class="social-icon"
                    />
                  </a>
                  <a
                    href="http://instagram.com/cotbahia"
                    target="_blank"
                    rel="noopener"
                    title="Instagram"
                  >
                    <img
                      src="assets/images/social/instagram.png"
                      alt="Instagram"
                      class="social-icon"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="info-section limonero">
        <div class="copyright-section">
          <a
            href="http://www.cotbahia.com.ar"
            class="limonero-link"
            title="Gestionado por Limonero SRL"
            target="_blank"
            rel="noopener"
          >
            <img src="assets/images/logo/limonero.png" alt="Limonero SRL" class="limonero-icon" />
          </a>
        </div>
      </div>
    </div>
    <div class="copyright">
      <p>&copy; 2025 COT - Centro de Ortopedia y Traumatología | Limonero - Gestión con Visión</p>
    </div>
  </div>
</footer>
