.social-logo {
  width: 40px;
  height: 40px;
  object-fit: contain;
  vertical-align: middle;
  margin-right: 6px;
}
.medico-card {
  font-family: 'Inter', 'Roboto', Arial, sans-serif;
  background: transparent;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 720px;

  .medico-header-flex {
    background-color: white;
    box-shadow: 0px 1px 10px var(--border-gray);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 24px;

    h1 {
      font-size: 3rem;
      line-height: 3rem;
    }

    .medico-foto {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 120px;
      max-width: 220px;

      img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0 2px 8px rgba(25, 118, 210, 0.1);
        border: 3px solid var(--material-blue);
        background: var(--background-medico);
      }
    }

    .medico-nombre-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.5rem;

      .mat-card-title {
        font-size: 2rem;
        font-weight: 600;
        margin: 0;
        color: var(--gray-light);
      }

      .mat-mdc-card-subtitle {
        display: flex;
        flex-direction: column;
        gap: 2px;
        font-size: 1.3rem;
        color: var(--gray-medium);
        font-weight: 400;
        margin: 0.5rem 0 0 0;

        .matricula {
          font-size: 1rem;
        }
      }
    }
  }

  .medico-container-flex {
    display: flex;
    align-items: flex-start;
    width: 80%;
    flex-direction: column;

    .medico-info {
      flex: 2;
      min-width: 300px;
      display: flex;
      flex-direction: column;

      .medico-detail {
        margin: 1.2rem 0;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        font-size: 1.1rem;
        line-height: 1.5rem;

        &.redes {
          flex-direction: row;
          gap: 16px;
        }

        strong {
          color: var(--material-blue);
          font-weight: 600;
        }

        .medico-listado {
          margin-top: 0.5rem;
          margin-left: 0.5rem;
          display: flex;
          flex-direction: column;
          gap: 0.3rem;
        }
      }
    }
  }

  @media (max-width: 900px) {
    .medico-header-flex {
      flex-direction: column-reverse;
      align-items: center;
      gap: 1rem;

      .mat-mdc-card-subtitle {
        text-align: center;
      }

      .medico-foto img {
        width: 200px;
        height: 200px;
      }
    }
  }
}
