<section class="personal-section no-select page-container">
  <div class="title-section">
    <h1 class="cot-title with-shadow">Nuestro Equipo</h1>
    <p class="subtitle">
      En COT Bahía Blanca contamos con un equipo de traumatólogos especialistas que cubren todas las
      subespecialidades de la ortopedia y la traumatología, brindando atención integral y de
      excelencia.<br />
      Nuestra fortaleza está en el trabajo interdisciplinario, la actualización constante y la
      dedicación personalizada a cada paciente.<br />
      <br />
      Nuestro equipo incluye:<br />
      • Traumatólogos con formación en todas las subespecialidades.<br />
      • Profesionales en kinesiología y rehabilitación funcional.<br />
      • Técnicos en diagnóstico por imágenes.<br />
      • Personal administrativo capacitado para acompañar y orientar a cada paciente.<br />
      <br />
      Creemos en la medicina cercana, en la escucha activa y en la importancia de generar confianza.
      Cada integrante de nuestro equipo comparte una misma visión: cuidar personas, no solo tratar
      lesiones.
    </p>
  </div>
  <div class="personal-container">
    <h2 class="cot-title with-shadow">Equipo Médico y Especialistas</h2>
    <div class="personal-list">
      @for (medico of medicos(); track medico.id) {
        <mat-card class="medico-list-card">
          <div class="medico-list-content">
            <img [src]="medico.imagen" alt="{{ medico.nombre }}" class="miniatura-personal" />
            <div class="medico-list-left">
              <h2>{{ medico.titulo }} {{ medico.nombre }}</h2>
              <h4>{{ medico.especialidad }}</h4>
            </div>
            <div class="medico-list-right">
              <button mat-button color="primary" [routerLink]="['./', medico.nombre]">
                Más información
              </button>
            </div>
          </div>
        </mat-card>
      }
    </div>
  </div>
  <br />

  <!-- Sección de Personal No Médico -->
  <div class="personal-container">
    <h2 class="cot-title with-shadow">Kinesiología</h2>
    <div class="personal-list">
      @for (kinesiologo of kinesiologia(); track kinesiologo.id) {
        <mat-card class="medico-list-card">
          <div class="medico-list-content">
            <img
              [src]="kinesiologo.imagen"
              alt="{{ kinesiologo.nombre }}"
              class="miniatura-personal"
            />
            <div class="medico-list-left">
              <h2>{{ kinesiologo.titulo }} {{ kinesiologo.nombre }}</h2>
              <h4>{{ kinesiologo.especialidad }}</h4>
            </div>
            <div class="medico-list-right">
              <button mat-button color="primary" [routerLink]="['./', kinesiologo.nombre]">
                Más información
              </button>
            </div>
          </div>
        </mat-card>
      }
    </div>
  </div>
  <!-- Sección de Personal No Médico -->
  <div class="personal-container">
    <h2 class="cot-title with-shadow">Diagnóstico por Imágenes</h2>
    <div class="personal-list">
      @for (diagnosta of diagnosticos(); track diagnosta.id) {
        <mat-card class="medico-list-card">
          <div class="medico-list-content">
            <img [src]="diagnosta.imagen" alt="{{ diagnosta.nombre }}" class="miniatura-personal" />
            <div class="medico-list-left">
              <h2>{{ diagnosta.titulo }} {{ diagnosta.nombre }}</h2>
              <h4>{{ diagnosta.especialidad }}</h4>
            </div>
          </div>
        </mat-card>
      }
    </div>
  </div>
  <!-- Sección de Personal No Médico -->
  <div class="personal-container">
    <h2 class="cot-title with-shadow">Coordinación Institucional</h2>
    <div class="personal-list">
      @for (persona of personal(); track persona.id) {
        <mat-card class="medico-list-card">
          <div class="medico-list-content">
            <img [src]="persona.imagen" alt="{{ persona.nombre }}" class="miniatura-personal" />
            <div class="medico-list-left">
              <h2>{{ persona.nombre }}</h2>
              <h4>{{ persona.rol }}</h4>
            </div>
          </div>
        </mat-card>
      }
    </div>
  </div>
</section>
