.faq-section {
  p {
    white-space: pre-line;
  }
  a {
    text-decoration: none;
    color: var(--blue-accent);
    &:hover {
      text-shadow: 1px 0 0 currentColor;
    }
  }
  strong {
    color: var(--blue-accent);
  }
  .title {
    margin-bottom: 32px;
  }
  .mat-accordion .mat-expansion-panel {
    box-shadow: none;
    border: none;
    background-color: transparent;
    border-radius: 0 !important;
    @media screen and (max-width: 500px) {
      min-height: 70px;
      .mat-expansion-panel-header {
        min-height: 70px;
      }
    }
    @media screen and (max-width: 330px) {
      height: fit-content;
      .mat-expansion-panel-header {
        height: fit-content;
        margin: 8px 0;
      }
    }
  }
  .faq-section-title {
    margin-bottom: 16px;
  }
  .faq-intro {
    margin-bottom: 16px;
  }
  .faq-seccion {
    margin-bottom: 16px;
  }
}
